
.nav_bar_list {
    display: flex;
    justify-content: center;
    gap: 4em;
    border-bottom: 1px black solid;
    margin-top: 0px;
    padding-right: 50px;
}
.nav_bar_list li {
    list-style-type: none ;
    padding: 10px;
    font-style:oblique;


}
.nav_bar_list a {
    color: black;
    text-decoration: none;
}