*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav_bar_list {
    display: flex;
    justify-content: center;
    gap: 4em;
    border-bottom: 1px black solid;
    margin-top: 0px;
    padding-right: 50px;
}
.nav_bar_list li {
    list-style-type: none ;
    padding: 10px;
    font-style:oblique;


}
.nav_bar_list a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 200px;
}
.body {
    margin: 80px;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
}
.fiction,
.skill {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


#darkmode {
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
}

@media screen and (max-width: 600px) {
    .body {
        margin: 20px;
    }
  }