
*{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.nav_bar_list {
    display: flex;
    justify-content: center;
    gap: 4em;
    border-bottom: 1px black solid;
    margin-top: 0px;
    padding-right: 50px;
}
.nav_bar_list li {
    list-style-type: none ;
    padding: 10px;
    font-style:oblique;


}
.nav_bar_list a {
    color: black;
    text-decoration: none;
}

.body {
    margin: 80px;
}


.whoami p {
    font-size: larger;

}
.why {
    margin-top: 60px;

}
.why p {
    font-size: larger;

}
.contact {
    margin-top: 60px;
}
.contact img {
    max-width: 32px;
    border-radius: 90px;
}
#gif {
    width: 100%;
}

#title {
    padding-top: 20px;
}

#darkmode {
    cursor: pointer;
    margin-top: 60px;
    text-align: center;

}


@media screen and (max-width: 600px) {
    .body {
        margin: 20px;
    }
  }
